* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/* body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray
}

.top {
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    background-color: white;
}

.top1 {
    border: 3px;
    border-radius: 3px;
    border-color: #14aaf5;
    padding: 5px;
    color: white;
    background-color: #14aaf5;
    text-decoration: none;
    
}

.top2 {
    border: 1px;
    border-radius: 3px;
    border-color: #d2d8db;
    border-style: solid;
    padding: 5px;
    color: #d2d8db;
    background-color: white;
    text-decoration: none;
}

.iniziolista {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 5px;
}

.distanziamento {
    margin-top: 20px;
}

ul {
    list-style: none;
}


/* spunte ed etichette */

.cerchioverde {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid green;
    font-size: 15px;
    text-align: center;
    color: green;
}

.cerchiorosso {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid red;
    font-size: 15px;
    text-align: center;
    color: red;
}

.etichetta {
    font-size: 10px;
    border: 3px;
    border-radius: 20px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.blu {
    background-color: #14aaf5;
    border-color: #14aaf5;
}

.viola {
    background-color: #ab5de6;
    border-color: #ab5de6;
}

.arancione {
    background-color: #ff9b01;
    border-color: #ff9b01;
}

.verde {
    background-color: #2cc6ab;
    border-color: #2cc6ab;
}

/* Header */
h1 {
    background-color: white;
}
